<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Contextual Trigger - Mood Trace</title>
    <!-- Include your Bootstrap and custom stylesheets, as well as any necessary scripts -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/style.css" type="text/css">

    <!-- FontAwesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="correct-fontawesome-integrity-value" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <!-- Include jQuery, Popper.js, and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-..." crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-..." crossorigin="anonymous"></script>


<script src="header/navbar.js" defer></script>
<my-navbar isloggedin="true"></my-navbar>

   
</head>

<!-- Edit and Delete Page -->
<section class="bg-light text-dark p-5 text-center text-sm-start">
    <div class="container">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h1>Edit Contextual Trigger</h1>

            <!-- Display the selected mood card information -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h5 class="card-title">Date and Time: <%= new Date(selectedCardInfo.date_time).toLocaleString() %></h5>
                    <p class="card-text">Snapshot ID: <%= selectedCardInfo.snapshot_id %></p>
                    <p class="card-text">Enjoyment level: <%= selectedCardInfo.enjoyment_level %></p>
                    <p class="card-text">Sadness level: <%= selectedCardInfo.sadness_level %></p>
                    <p class="card-text">Anger level: <%= selectedCardInfo.anger_level %></p>
                    <p class="card-text">Contempt level: <%= selectedCardInfo.contempt_level %></p>
                    <p class="card-text">Disgust level: <%= selectedCardInfo.disgust_level %></p>
                    <p class="card-text">Fear level: <%= selectedCardInfo.fear_level %></p>
                    <p class="card-text">Surprise level: <%= selectedCardInfo.surprise_level %></p>
                    <p class="card-text">Contextual Trigger(s): <%= selectedCardInfo.contextual_triggers ? selectedCardInfo.contextual_triggers: '' %></p>

                </div>
            </div>
            
<!-- Your edit form goes here -->
<form id="editForm" class="row g-6" method="post" action="/views/editdeletetrigger?trigger=<%= trigger %>&moodId=<%= selectedCardInfo.snapshot_id %>">
    <input type="hidden" name="moodId" value="<%= moodId %>">

<!-- Edit Contextual Trigger Field -->
<div class="col-md-6">
    <label for="updatedContextualTriggers" class="form-label">Edit Contextual Triggers:</label>
    <div class="input-group">
        <!-- Use a Bootstrap dropdown to select contextual triggers -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="contextualTriggerDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Select Contextual Triggers
            </button>
            <ul class="dropdown-menu" aria-labelledby="contextualTriggerDropdown">
                <% for (let trigger of contextualTriggers) { %>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="<%= trigger %>" name="updatedContextualTriggers" id="<%= trigger %>" <% if (selectedCardInfo.contextual_triggers && selectedCardInfo.contextual_triggers.includes(trigger)) { %>checked<% } %>>
                            <label class="form-check-label" for="<%= trigger %>"><%= trigger %></label>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<!-- Other input fields for editing and buttons -->
<div class="col-md-6 d-flex justify-content-end align-items-end">
    <button type="submit" class="btn btn-primary" name="updateTrigger">Update Snapshot</button>
    <button id="deleteButton" class="btn btn-danger ms-2" name="deleteSnapshot" onclick="deleteMood()">Delete Snapshot</button>
</div>
</form>



        </div>
    </div>
</section>
<script>
    function deleteMood() {
        if (confirm("Are you sure you want to delete this record?")) {
            var moodId = '<%= selectedCardInfo.snapshot_id %>';
            fetch('/views/deletemood/' + moodId, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to delete record');
                }
                // No need to return response.json(), as there may not be a response body for DELETE
                return; 
            })
            .then(() => {
                console.log('Success: Record deleted successfully');
                // Only redirect after the deletion is successful
                window.location.href = '/history';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }
</script>



</body>
</html>




